beautifulsoup4==4.12.3
duckduckgo_search==6.2.11
langchain==0.2.15
langchain-cli==0.0.30
langchain-community==0.2.15
langchain-core==0.2.37
langchain-openai==0.1.23
langchain-text-splitters==0.2.2
openai==1.43.0
pydantic==2.8.2
streamlit
streamlit-audiorecorder
anyio
